{% extends 'oscar/dashboard/ranges/range_list.html' %}
{% load i18n %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption><i class="icon-reorder icon-large"></i> {% trans "Ranges" %}</caption>
        {% if ranges %}
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Num products" %}</th>
                    <th>{% trans "Is public?" %}</th>
                    <th>{% trans "Dependents" %}</th>
                    <th>{% trans "Date created" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for range in ranges %}
                    <tr>
                        <td>
                            {% if range.is_editable %}
                                <a href="{% url 'dashboard:range-update' pk=range.id %}">{{ range.name }}</a>
                            {% else %}
                                {{ range.name }}
                            {% endif %}
                        </td>
                        {% if range.includes_all_products %}
                            <td>{% trans 'All' %}</td>
                        {% else %}
                            <td>{{ range.num_products|default:"-" }}</td>
                        {% endif %}
                        {% if range.is_public %}
                            <td>{% trans "Yes" %}</td>
                        {% else %}
                            <td>{% trans "No" %}</td>
                        {% endif %}
                        <td>
                            {% if range.benefit_set.exists %}
                                <em>{% trans "Benefits" %}</em>
                                <ul>
                                    {% for benefit in range.benefit_set.all %}
                                        <li><a href="{% url 'dashboard:benefit-update' pk=benefit.pk %}">{{ benefit.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if range.condition_set.exists %}
                                <em>{% trans "Conditions" %}</em>
                                <ul>
                                    {% for condition in range.condition_set.all %}
                                        <li><a href="{% url 'dashboard:condition-update' pk=condition.pk %}">{{ condition.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if not range.benefit_set.exists and not range.condition_set.exists %}
                                <em>{% trans "None" %}</em>
                            {% endif %}
                        </td>
                        <td>{{ range.date_created }}</td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="submit" data-toggle="dropdown" aria-expanded="true">
                                        {% trans "Actions" %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        {% if range.is_editable %}
                                            <li><a href="{% url 'dashboard:range-update' pk=range.id %}">{% trans "Edit" %}</a></li>
                                            {% if not range.includes_all_products %}
                                                <li><a href="{% url 'dashboard:range-products' pk=range.id %}">{% trans "Edit products" %}</a></li>
                                            {% endif %}
                                        {% endif %}
                                        {% if range.is_public %}
                                            <li><a href="{{ range.get_absolute_url }}">{% trans "View on site" %}</a></li>
                                        {% endif %}

                                        {% if range.benefit_set.exists or range.condition_set.exists %}
                                            <li class="disabled"><a href="#" title="{% trans 'Can not delete a product with a dependent condition or benefit.' %}">{% trans "Delete" %}</a></li>
                                        {% else %}
                                            <li><a href="{% url 'dashboard:range-delete' pk=range.id %}">{% trans "Delete" %}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tr><td>{% trans "No ranges found." %}</td></tr>
        {% endif %}
    </table>
    {% include "oscar/dashboard/partials/pagination.html" %}
{% endblock dashboard_content %}
