{% extends 'oscar/dashboard/layout.html' %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
    {% trans "Benefits" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Benefits" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <p class="pull-right">
            <a href="{% url 'dashboard:benefit-create' %}" class="btn btn-primary btn-lg">
                <i class="icon-plus"></i> {% trans "Create new benefit" %}
            </a>
            <a href="{% url 'dashboard:benefit-create-compound' %}" class="btn btn-primary btn-lg">
                <i class="icon-plus"></i> {% trans "Create new compound benefit" %}
            </a>
        </p>
        <h1>{% trans "Benefits" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="well">
        <form action="." method="get" class="form-inline">
            {% include 'oscar/dashboard/partials/form_fields_inline.html' with form=form %}
            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
        </form>
    </div>

    <form action="." method="post" class="order_table">
        {% csrf_token %}
        <table class="table table-striped table-bordered">
            <caption>
                <i class="icon-gift icon-large"></i>{{ queryset_description }}
                {% if is_filtered %}
                    <a href="{% url 'dashboard:benefit-list' %}" >{% trans "Reset" %}</a>
                {% endif %}
            </caption>
            {% if benefits %}
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Range' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Value' %}</th>
                    <th>{% trans 'Used by Offers' %}</th>
                    <th>{% trans 'Used by Vouchers' %}</th>
                    <th>{% trans 'Used by Benefits' %}</th>
                    <th></th>
                </tr>
                {% for benefit in benefits %}
                    <tr>
                        <td><a href="{% url 'dashboard:benefit-update' pk=benefit.pk %}">{{ benefit.name }}</a></td>
                        <td>{{ benefit.range.name|default:"-" }}</td>
                        <td>{{ benefit.type_name|default:"-" }}</td>
                        <td>{{ benefit.value|default:"-" }}</td>
                        <td>
                            <ul>
                                {% for offer in benefit.non_voucher_offers %}
                                    <li><a href="{% url 'dashboard:offer-detail' pk=offer.pk %}">{{ offer.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for voucher in benefit.vouchers %}
                                    <li><a href="{% url 'dashboard:voucher-stats' pk=voucher.pk %}">{{ voucher.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for benefit in benefit.parent_benefits.all %}
                                    <li><a href="{% url 'dashboard:benefit-update' pk=benefit.pk %}">{{ benefit.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                        {% trans "Actions" %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="{% url 'dashboard:benefit-update' pk=benefit.pk %}">{% trans "Edit" %}</a></li>
                                        <li><a href="{% url 'dashboard:benefit-delete' pk=benefit.pk %}">{% trans "Delete" %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr><td>{% trans "No benefits found." %}</td></tr>
            {% endif %}
        </table>
        {% include "oscar/dashboard/partials/pagination.html" %}
    </form>
{% endblock dashboard_content %}
