{% extends 'oscar/dashboard/layout.html' %}

{% load currency_filters %}

{% load i18n %}

{% block body_class %}{{ block.super }} create-page {% endblock %}

{% block title %}
    {% if offergroup.pk %}
        {{ offergroup.name }}:
    {% else %}
        {% trans "Create new Offer Group" %}:
    {% endif %}
    {{ title }} | {% trans "Offer Groups" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:offergroup-list' %}">{% trans "Offer Groups" %}</a>
        </li>
        {% if offergroup.pk %}
            <li>
                <a href="{% url 'dashboard:offergroup-update' pk=offergroup.pk %}">{{ offergroup.name }}</a>
            </li>
        {% else %}
            <li>
                {% trans "Create new offer group" %}
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block headertext %}
    {% if not offergroup.pk %}
        {% trans "Create new offer group" %}
    {% else %}
        {{ offergroup.name }}
    {% endif %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-6">
            <form action="." method="post" class="form-stacked wysiwyg fixed-actions">
                <div class="table-header">
                    <h3>{% trans "Details" %}</h3>
                </div>
                <div class="well">
                    {% csrf_token %}

                    {% if form.is_bound and not form.is_valid %}
                        <div class="alert alert-danger">
                            <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
                        </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger form-group has-error">
                                <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <p>{% trans "Fields marked with * are mandatory." %}</p>

                    {% block form_fields %}
                        {% include 'oscar/dashboard/partials/form_field.html' with field=form.name %}
                        {% include 'oscar/dashboard/partials/form_field.html' with field=form.priority %}
                        {% include 'oscar/dashboard/partials/form_field.html' with field=form.offers %}
                    {% endblock %}
                </div>

                <div class="fixed-actions-group">
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-default" name="save" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                        </div>
                        <a class="btn btn-default" href="{% url 'dashboard:offergroup-list' %}">{% trans "Cancel" %}</a>
                        {% if offergroup.pk and not offergroup.is_system_group and not offergroup.offers.exists %}
                            <a class="btn btn-danger" href="{% url 'dashboard:offergroup-delete' pk=offergroup.pk %}">{% trans "Delete" %}</a></li>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock dashboard_content %}
