{% extends 'oscar/dashboard/offers/offer_detail.html' %}
{% load currency_filters %}
{% load i18n %}

{% block dashboard_content %}
    <table class="table table-bordered">
        <tr>
            <td>
                {% if offer.is_available %}
                    <span class="label label-success">{% trans "Offer currently available" %}</span>
                {% else %}
                    <span class="label label-danger">{% trans "Offer not available due to restrictions!" %}</span>
                {% endif %}
            </td>
            <td>{% trans "Total cost:" %} <strong>{{ offer.total_discount|currency }}</strong></td>
            <td>{% trans "Number of orders:" %} <strong>{{ offer.num_orders }}</strong></td>
            <td>{% trans "Number of uses:" %} <strong>{{ offer.num_applications }}</strong></td>
        </tr>
    </table>

    <div class="table-header">
        <div class="pull-right" style="font-weight: normal">{% trans "Date created:" %} {{ offer.date_created }}</div>
        <h2>{% trans "Offer details" %}</h2>
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ offer.name }}</td>
                <td rowspan="5"><a id="edit_metadata" href="{% url 'dashboard:offer-metadata' pk=offer.pk %}" class="btn btn-default">{% trans "Edit" %}</a></td>
            </tr>
            <tr>
                <th>{% trans "Short Name" %}</th>
                <td>{{ offer.short_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ offer.description|safe|default:"-" }}</td>
            </tr>
            <tr>
                <th>{% trans "Offer Group" %}</th>
                <td>{{ offer.offer_group }}</td>
            </tr>
            <tr>
                <th>{% trans "Priority" %}</th>
                <td>{{ offer.priority }}</td>
            </tr>
            <tr>
                <th>{% trans "Incentive" %}</th>
                <td>{{ offer.benefit.description|safe }}</td>
                <td><a href="{% url 'dashboard:offer-benefit' pk=offer.pk %}" class="btn btn-default">{% trans "Edit" %}</a></td>
            </tr>
            <tr>
                <th>{% trans "Condition" %}</th>
                <td>{{ offer.condition.description|safe }}</td>
                <td><a href="{% url 'dashboard:offer-condition' pk=offer.pk %}" class="btn btn-default">{% trans "Edit" %}</a></td>
            </tr>
            <tr>
                <th>{% trans "Restrictions" %}</th>
                <td>
                    {% for restriction in offer.availability_restrictions %}
                        {% if not restriction.is_satisfied %}
                            <span class="label label-danger">
                                {{ restriction.description }}
                            </span><br/>
                        {% else %}
                            {{ restriction.description }}</br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="{% url 'dashboard:offer-restrictions' pk=offer.pk %}" class="btn btn-default">{% trans "Edit" %}</a></td>
            </tr>
        </tbody>
    </table>

    <h2>{% trans "Orders that used this offer" %}</h2>
    <div class="well">
        <form method="get" class="form">
            {% include 'oscar/dashboard/partials/form_fields.html' with form=form %}
            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">
                {% trans "Search" %}
            </button>
            <button
                type="submit"
                class="btn btn-default"
                name="format"
                value="csv"
            >
                {% trans "Export to CSV" %}
            </button>
            {% if is_filtered %}
                <a class="btn btn-default" href="{% url 'dashboard:offer-detail' pk=offer.pk %}">
                    {% trans "Reset" %}
                </a>
            {% endif %}
        </form>
    </div>
    <div class="table-header">
        {% if is_filtered %}
            <h2>{% trans "Orders matching search" %}</h2>
        {% else %}
            <h2>{% trans "All orders" %}</h2>
        {% endif %}
    </div>
    <table class="table table-bordered table-striped">
        {% if not order_discounts %}
            <tr>
                <td><em>{% trans "No orders found." %}</em></td>
            </tr>
        {% else %}
            <thead>
                <th>{% trans "Order number" %}</th>
                <th>{% trans "Order status" %}</th>
                <th>{% trans "Order date" %}</th>
                <th>{% trans "Order total" %}</th>
                <th>{% trans "Cost" %}</th>
            </thead>
            <tbody>
                {% for discount in order_discounts %}
                    {% with order=discount.order %}
                        <tr>
                            <td><a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a></td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.date_placed }}</td>
                            <td>{{ order.total_incl_tax|currency }}</td>
                            <td>{{ discount.amount|currency }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
    {% include 'oscar/dashboard/partials/pagination.html' %}
{% endblock dashboard_content %}
