{% extends 'oscar/dashboard/vouchers/voucher_detail.html' %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block header %}
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url 'dashboard:voucher-update' pk=voucher.id %}">{% trans "Edit" %}</a>
            <a class="btn btn-danger" href="{% url 'dashboard:voucher-delete' pk=voucher.id %}">{% trans "Delete" %}</a>
        </div>
        <h1>{{ voucher }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Voucher details" %}</h2>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ voucher.name }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ voucher.offers.first.description|safe }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Code" %}</th>
                <td>{{ voucher.code }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Num child codes" %}</th>
                <td>{{ children.count }}</td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                {% trans "Actions" %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{% url 'dashboard:voucher-add-children' pk=voucher.id %}">{% trans "Add more child codes" %}</a></li>
                                <li><a href="{% url 'dashboard:voucher-export-children' pk=voucher.id format='csv' %}">{% trans "Export codes as CSV" %}</a></li>
                                <li><a href="{% url 'dashboard:voucher-export-children' pk=voucher.id format='json' %}">{% trans "Export codes as JSON" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans "Priority" %}</th>
                <td>{{ voucher.priority }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Start datetime" %}</th>
                <td>{{ voucher.start_datetime }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "End datetime" %}</th>
                <td>{{ voucher.end_datetime }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Desktop Image" %}</th>
                <td>
                    {% if voucher.offers.first %}
                        {% include "oscar/dashboard/vouchers/voucher_thumbnail.html" with record=voucher.offers.first.desktop_image %}
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Mobile Image" %}</th>
                <td>
                    {% if voucher.offers.first %}
                        {% include "oscar/dashboard/vouchers/voucher_thumbnail.html" with record=voucher.offers.first.mobile_image %}
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Usage" %}</th>
                <td>{{ voucher.get_usage_display }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Condition" %}</th>
                <td>{{ voucher.condition.description|safe }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Discount" %}</th>
                <td>{{ voucher.benefit.description|safe }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Usage is limited to specific user groups?" %}</th>
                <td>
                    {% if voucher.limit_usage_by_group %}
                        <span class="label label-success">{% trans "Yes" %}</span>
                    {% else %}
                        <span class="label label-danger">{% trans "No" %}</span>
                    {% endif %}
                </td>
                <td></td>
            </tr>
            {% if voucher.limit_usage_by_group %}
                <tr>
                    <th>{% trans "Whitelisted User Groups" %}</th>
                    <td>
                        {% for group in voucher.groups.all %}
                            <span class="label label-info">{{ group.name }}</span>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Offer Group" %}</th>
                    <td>{{ voucher.offer_group.name|default:"-" }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <div class="table-header">
        <h2>{% trans "Voucher performance" %}</h2>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr><th>{% trans "Number of basket additions" %}</th><td>{{ voucher.num_basket_additions }}</td></tr>
            <tr><th>{% trans "Number of orders" %}</th><td>{{ voucher.num_orders }}</td></tr>
            <tr><th>{% trans "Total discount" %}</th><td>{{ voucher.total_discount|currency }}</td></tr>
        </tbody>
    </table>


    <h2>{% trans "Orders that used this voucher" %}</h2>
    <div class="well">
        <form method="get" class="form">
            {% include 'oscar/dashboard/partials/form_fields.html' with form=form %}
            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">
                {% trans "Search" %}
            </button>
            <button
                type="submit"
                class="btn btn-default"
                name="format"
                value="csv"
            >
                {% trans "Export to CSV" %}
            </button>
            {% if is_filtered %}
                <a class="btn btn-default" href="{% url 'dashboard:voucher-stats' pk=voucher.id %}">
                    {% trans "Reset" %}
                </a>
            {% endif %}
        </form>
    </div>
    <div class="table-header">
        {% if is_filtered %}
            <h2>{% trans "Orders matching search" %}</h2>
        {% else %}
            <h2>{% trans "All orders" %}</h2>
        {% endif %}
    </div>
    <table class="table table-striped table-bordered table-hover">
        {% if not discounts %}
            <tr>
                <td><em>{% trans "No orders have been placed that use this voucher." %}</em></td>
            </tr>
        {% else %}
            <thead>
                <tr>
                    <th>{% trans "Order number" %}</th>
                    <th>{% trans "Order status" %}</th>
                    <th>{% trans "Voucher code" %}</th>
                    <th>{% trans "Order total" %}</th>
                    <th>{% trans "Discount" %}</th>
                    <th>{% trans "Date placed" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for discount in discounts %}
                    {% with order=discount.order %}
                        <tr>
                            <td><a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a></td>
                            <td>{{ order.status }}</td>
                            <td>{{ discount.voucher_code }}</td>
                            <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                            <td>{{ discount.amount|currency:order.currency }}</td>
                            <td>{{ order.date_placed }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
    {% include 'oscar/dashboard/partials/pagination.html' %}
{% endblock %}
